/* ===================START GLOBAL============================================================================ */
:root {
    --normal-color: #212121;
    --description-color: #757575;
    --active-1-color: #2196F3;
    --active-2-color: #188CE8;
    --background-color: #2F303A;
    --contact-color: #999999;
    --white-text-color: #FFFFFF;
    --top-line-color: #ECECEC;
    --bg-team-color: #F5F4FA;
    --bg-card-port-color: solid #EEEEEE;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

body {
    font-family: 'Roboto';
    color: var(--normal-color);
}

ul {
    list-style-type: none;
    display: inline;
    display: inline-block;
}


h1,
h2 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

/* ===================END GLOBAL============================================================================ */
/* ===================START HEADER============================================================================ */

.container-header {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid var(--top-line-color);
}

.logo1 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--active-1-color);
    display: inline-block;
}

.logo2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--background-color);
    text-decoration: none;
    display: inline-block;
}

.logo2:visited {
    color: var(--background-color);
}

header{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
}

.header-top.center7 {
    justify-content: center;
}

.header-top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-top-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.header-con {
    display: flex;
    align-items: center;
    
}

.logo-box {
    border: 2px;
    width: 145;
    height: 31;
}

.menu-box {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.menu-box.center5 {
    justify-content: center;
}

.menu-pad {
    margin-right: 50px;
}

.menu1 {
    text-decoration: none;
    color: var(--normal-color);
}

.menu2 {
    text-decoration: none;
    color: var(--active-1-color);
}

.contact1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--description-color);
    margin-left: auto;
    margin-right: 50px;
}

.contact1:focus,
.contact1:hover {
    color: var(--active-1-color);
}

.menu1:hover,
.menu1:focus {
    color: var(--active-1-color);
}

/* ===================END HEADER============================================================================ */
/* ===================START CAP============================================================================ */

.cap-bg {
    background-color: var(--background-color);
}

.cap-container {
    height: 600px;
}

button {
    cursor: pointer;
}

.button1:hover,
.button1:focus {
    color: var(--white-text-color);
    background: var(--active-2-color);
}


.cap-pad {
    padding-top: 200px;
    padding-bottom: 200px;
}

.heading1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    text-align: center;
    color: var(--white-text-color);
}

.button-box {
    display: flex;
    padding: 30px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.button-box.center4 {
    justify-content: center;
}

.button1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    color: var(--white-text-color);
    background-color: var(--active-1-color);
}

/* ===================END CAP============================================================================ */
/* ===================START FEATURE============================================================================ */


.feature-box {
    display: flex;
    padding: 30px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.feature-box.center3 {
    justify-content: center;
}

.feature {
    border: 2px;
    width: 270px;
    height: 101;
    margin-left: 30px;
}

.feature1 {
    border: 1px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
}

.feature2 {
    border: 1px;
    font-size: 14px;
    line-height: 1.7;
    color: var(--description-color);
}

/* ===================END FEATURE============================================================================ */
/* ===================START IMG WORK============================================================================ */

.heading2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.img-box {
    display: flex;
    padding: 30px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.img-box.center2 {
    justify-content: center;
}

.img1 {
    width: 370;
    height: 294;
    margin-left: 30px;
}

/* ===================END IMG WORK============================================================================ */
/* ===================START TEAM============================================================================ */

.heading3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    padding-top: 94px;
    padding: 50px;
}

.team-bg {
    height: 648px;
    background-color: var(--bg-team-color);
}

.team-box {
    display: flex;
    padding: 30px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.team1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    padding-top: 30;
}

.team2 {
    font-size: 16px;
    line-height: 1.2;
    color: var(--description-color);
    text-align: center;
    padding-bottom: 30px;
}

.team-box.center1 {
    justify-content: center;
}

.team-box .card1 {
    display: block;
    border: 1px;
    width: 270;
    height: 368;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-text-color); 
    margin-left: 30px;
}

/* ===================END TEAM============================================================================ */
/* ===================START PORTFOLIO============================================================================ */

.button2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    margin-left: 8px;
}

.button2:hover,
.button2:focus {
    color: var(--white-text-color);
    background: var(--active-1-color);
}

/* ===================START PORTFOLIO PROJECT============================================================================ */

.card-box {
    display: flex;
    padding: 30px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.card-box.center6 {
    justify-content: center;
    flex-wrap: wrap;
}

.card2 {
    display: block;
    border: 1px;
    width: 370;
    height: 404;
    background: var(--white-text-color);
    border: 1px var(--bg-card-port-color);
    box-sizing: border-box;
    margin-left: 30px;
    margin-bottom: 30px;
}

.project1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin-left: 24px;
    margin-top: 20px;
}

.project2 {
    font-size: 16px;
    line-height: 1.9;
    color: var(--description-color);
    margin-left: 24px;
    margin-bottom: 20px;
}

/* ===================END PORTFOLIO PROJECT============================================================================ */
/* ===================END PORTFOLIO============================================================================ */
/* ===================START FOOTER============================================================================ */

footer {
    font-size: 14px;
    line-height: 1.7;
    color: var(--white-text-color);
    position: absolute;
    background: var(--background-color);
    left: 0px;
    right: 0px;
    height: 252px;
    
}

.footer-bot-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-bot {
    position: relative;
    display: flex;
}

.footer-bot-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-bot-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-bot-adre {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo3 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--active-1-color);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

.logo4 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    display: inline-block;
    color: var(--white-text-color);
    margin-bottom: 20px;
}


.contact2 {
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    color: var(--contact-color);
}


.contact2:focus,
.contact2:hover {
    color: var(--active-1-color);
}


.address {
    font-style: normal;
    margin-bottom: 9px;
}

/* ===================END FOOTER============================================================================ */





